.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.profile-container.mtop20.mbtm40.content-container
      .row.profile-info-block
        .col-md-3.col-sm-5.profile-user-data
          %h4
            =image_tag @user.avatar.thumb.url, class: 'img img-circle'
            =@user.full_name
        -if @user.big_year
          .col-md-3.col-sm-12.profile-stat-data
            %p
              Количество видов в
              =link_to "Большом Годе - #{@big_year_species_count}", big_year_pages_path
              %br
                В рейтинге
                =link_to "Большого Года - #{@big_year_rating}", big_year_pages_path
        .col-md-3.col-sm-12.profile-user-icons
          -if @user.big_year
            =image_tag 'user/icon-2015.png'
          -if @user.expert?
            =image_tag 'user/icon-expert.png'

      .row.sub-nav-pils.mtop20.sm-display-none
        -if @user.current?(current_user)
          %a.active.profile-menu{"data-view" => "block1"}
            .menu-title
              %span Профиль
        %a.profile-menu{"data-view" => "block2"}
          .menu-title
            %span Виды [#{@species.size}]
        %a.profile-menu{"data-view" => "block3"}
          .menu-title
            %span Фотографии
            %span.profile-birds-count [#{@birds.total_count}]
        -if @user.current?(current_user)
          %a.profile-menu{"data-view" => "block4"}
            .menu-title
              %span Черновики
              %span.profile-drafts-count [#{@drafts.size}]
        %a.profile-menu{"data-view" => "block5"}
          .menu-title
            %span Комментарии
            %span.profile-comments-count [#{@comments.total_count}]

      .row.blocks-content
        -if @user.current?(current_user)
          .block-holder
            .mobile-blocks-nav
              %a.active{"data-view" => "block1"}
                %span Профиль
            =render 'profile'

        .block-holder
          .mobile-blocks-nav
            %a{"data-view" => "block2"}
              %span Виды [#{@species.size}]
          #block2.row.profile-block-container.profile-species-block.mtop20{ :class => ('active-block' unless @user.current?(current_user)) }
            =render 'species', user_id: @user.id

        .block-holder
          .mobile-blocks-nav
            %a{"data-view" => "block3"}
              %span Фотографии
              %span.profile-birds-count [#{@birds.total_count}]
          #block3.row.profile-block-container.profile-birds-block.mtop20
            .row
              .row.row-sm.birds-container
                =render partial: 'bird', collection: @birds, as: :bird
              .birds-pagination.pagination-block
                =paginate @birds, :remote => true, :param_name => 'page_birds'

        -if @user.current?(current_user)
          .block-holder
            .mobile-blocks-nav
              %a{"data-view" => "block4"}
                %span Черновики
                %span.profile-drafts-count [#{@drafts.size}]
            #block4.row.profile-block-container.profile-drafts-block.mtop20
              .row
                .row.row-sm.birds-container
                  =render partial: 'bird', collection: @drafts, as: :bird

        .block-holder
          .mobile-blocks-nav
            %a{"data-view" => "block5"}
              %span Комментарии
              %span.profile-comments-count [#{@comments.total_count}]
          #block5.row.profile-block-container.profile-comments-block.mtop20
            .row
              .comments-container
                =render 'comments'
              .comments-pagination.pagination-block
                =paginate @comments, :remote => true, :param_name => 'page_comments'
