.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.profile-container.mtop20.content-container
      .row.profile-info-block
        .col-md-3.col-sm-5.profile-user-data
          %h4
            =image_tag current_user.avatar.thumb.url, class: 'img img-circle'
            =current_user.full_name
        .col-md-3.col-sm-12.profile-stat-data
          %p
            50 видов в
            %a{:href => "#"} Большом городе
            %br
              10-я в
              %a{:href => "#"} рейтинге Большого города

      .row.sub-nav-pils.mtop20.sm-display-none
        %a.active.profile-menu{"data-view" => "block1"}
          %span Профиль
        %a.profile-menu{"data-view" => "block2"}
          %span Фотографии [134]
        %a.profile-menu{"data-view" => "block3"}
          %span Виды [55]
        %a.profile-menu{"data-view" => "block4"}
          %span Комментарии [2048]
        %a.profile-menu{"data-view" => "block5"}
          %span Карта встреч

      .row.blocks-content
        .block-holder
          .mobile-blocks-nav
            %a.active{"data-view" => "block1"}
              %span Профиль
          #block1.active-block.row.profile-block-container.profile-info-block
            .col-md-7.col-sm-12.mtop20
              .row
                .col-md-4.col-sm-12.m-acenter
                  = form_for current_user, url: user_profile_path, id: 'profile_data'  do |form|
                    =image_tag current_user.avatar.url, class: 'img img-circle'
                    = label_tag :avatar, 'Изменить фотографию', class: 'link d-block change-image', id: 'change-avatar'
                    .hidden{ style: 'display:none'}
                      = form.file_field :avatar, role: 'avatar', id: 'avatar-file-field'
                      = form.hidden_field :avatar_cache

                .col-md-8.col-sm-12
                  .form-container.m-mtop20.m-acenter
                    .row.mbtm15.user-info-section
                      %label.w70p.aright{:for => "fname"} Имя:
                      .input-group.d-inline-table.w220
                        = best_in_place current_user, :first_name, as: :input, path: user_profile_path
                        %span.input-group-addon.g-pencil
                          %span.glyphicon &nbsp;
                    .row.mbtm15
                      %label.w70p.aright{:for => "lname"} Фамилия:
                      .input-group.d-inline-table.w220
                        = best_in_place current_user, :last_name, as: :input, path: user_profile_path
                        %span.input-group-addon.g-pencil
                          %span.glyphicon &nbsp;
                    .row
                      %label.w70p.aright{:for => "email"} E-mail:
                      .input-group.d-inline-table.w220
                        = current_user.email

              .row
                %h5.m-acenter Изменить пароль
                =form_for current_user, url: user_change_password_path, id: 'password_data', method: :put do |form|
                  .form-container.m-mtop20.m-acenter
                    .row.mbtm15
                      %label.w130.aright Новый пароль:
                      = form.password_field :password, class: 'form-control w190 d-inline-block', placeholder: 'Пароль'
                      %span.req *
                    .row
                      %label.w130.aright Пароль еще раз:
                      = form.password_field :password_confirmation, class: 'form-control w190 d-inline-block', placeholder: 'Пароль'
                      %span.req *
                  %input.btn.btn-info.w345.btn-lg-spec.sm-width-max{:type => "submit", :value => "Изменить пароль"}/

              .row.mtop20
                %h5.m-acenter Большой Год
                = form_for current_user, url: user_profile_path, method: :put, id: 'subscribe_data' do |form|
                  .form-container.m-mtop20.pleft30.m-pleft90
                    .row.mbtm15
                      %label.myCheckbox
                        = form.check_box :big_year
                        %span
                      %label{:for => "participate"}
                        Да, Я хочу участвовать в
                        =link_to 'Большом Годе', big_year_pages_path
                  =form.submit 'Изменить', class: 'btn btn-info w345 btn-lg-spec sm-width-max'

        .block-holder
          .mobile-blocks-nav
            %a{"data-view" => "block2"}
              %span Фотографии [134]
          #block2.row.profile-block-container.profile-photos-block
            ФОТОГРАФИИ

        .block-holder
          .mobile-blocks-nav
            %a{"data-view" => "block3"}
              %span Виды [134]
          #block3.row.profile-block-container.profile-birds-block
            ВИДЫ

        .block-holder
          .mobile-blocks-nav
            %a{"data-view" => "block4"}
              %span Комментарии [2034]
          #block4.row.profile-block-container.profile-comments-block
            .row.scroll-container
              #scrollbar_track
                #scrollbar_handle
              #scrollbar_content
                .row.comments-container
                  .row.comment-row
                    .image-holder
                      %img{:src => "assets/img/bird_pic_xsmall.png"}/
                    .comment-holder
                      %p.row-comment Сфотографировала горлицу ранним утром. Сразу нашла где она сидит по громкому голосу
                    .comment-time-container
                      4 мин.
                    .delete-comment-container
                      %a.delete-comment-lnk{:onclick => "deleteComment(this);"}
                  .row.comment-row
                    .image-holder
                      %img{:src => "assets/img/bird_pic_xsmall.png"}/
                    .comment-holder
                      %p.row-comment Отличная фотография
                    .delete-comment-container
                      %a.delete-comment-lnk{:onclick => "deleteComment(this);"}
                  .row.comment-row
                    .image-holder
                      %img{:src => "assets/img/bird_pic_xsmall.png"}/
                    .comment-holder
                      %p.row-comment Спасибо Маша! Теперь я знаю где мне найти кольчатую горлицу)
                    .comment-time-container
                      4 ч.
                    .delete-comment-container
                      %a.delete-comment-lnk{:onclick => "deleteComment(this);"}
                  .row.comment-row
                    .image-holder
                      %img{:src => "assets/img/bird_pic_xsmall.png"}/
                    .comment-holder
                      %p.row-comment Дима, беги быстрее! А то улетит!
                    .comment-time-container
                      Вчера, в 17:45
                    .delete-comment-container
                      %a.delete-comment-lnk{:onclick => "deleteComment(this);"}
                  .row.comment-row
                    .image-holder
                      %img{:src => "assets/img/bird_pic_xsmall.png"}/
                    .comment-holder
                      %p.row-comment Сфотографировала горлицу ранним утром. Сразу нашла где она сидит по громкому голосу
                    .comment-time-container
                      4 мин.
                    .delete-comment-container
                      %a.delete-comment-lnk{:onclick => "deleteComment(this);"}
                  .row.comment-row
                    .image-holder
                      %img{:src => "assets/img/bird_pic_xsmall.png"}/
                    .comment-holder
                      %p.row-comment Отличная фотография
                    .delete-comment-container
                      %a.delete-comment-lnk{:onclick => "deleteComment(this);"}
                  .row.comment-row
                    .image-holder
                      %img{:src => "assets/img/bird_pic_xsmall.png"}/
                    .comment-holder
                      %p.row-comment Спасибо Маша! Теперь я знаю где мне найти кольчатую горлицу)
                    .comment-time-container
                      4 ч.
                    .delete-comment-container
                      %a.delete-comment-lnk{:onclick => "deleteComment(this);"}


        .block-holder.last
          .mobile-blocks-nav
            %a{"data-view" => "block5"}
              %span Карта встреч
          #block5.row.profile-block-container.profile-map-block
            КАРТА ВСТРЕЧ

    = render 'shared/nav_add_photo'
