.bg-btm-container
  .container.content
    .row.login-registration-container.mtop20.content-container
      %h3.acenter.mbtm20 Регистрация

      .col.col-md-7.col-sm-12.fcenter
        = form_for :user, url: user_registration_path do |f|
          .reg-form-cntainer
            = devise_error_messages!
            .row
              .col-md-3.col-sm-3.lbl-container
                %label{:for => "fname"} Имя:
              .col-md-6.col-sm-6.input-container
                = f.text_field :first_name, autofocus: true, class: 'form-control'
              .col-md-3.col-sm-3.str-container
                %span.req *
            .row
              .col-md-3.col-sm-3.lbl-container
                %label{:for => "lname"} Фамилия:
              .col-md-6.col-sm-6.input-container
                = f.text_field :last_name, class: 'form-control'
              .col-md-3.col-sm-3.str-container
                %span.req *
            .row
              .col-md-3.col-sm-3.lbl-container
                %label{:for => "email"} E-mail:
              .col-md-6.col-sm-6.input-container
                = f.email_field :email, class: 'form-control'
              .col-md-3.col-sm-3.str-container
                %span.req *
            .row
              .col-md-3.col-sm-3.lbl-container
                %label{:for => "pwrd"} Пароль:
              .col-md-6.col-sm-6.input-container
                = f.password_field :password, autocomplete: "off", class: 'form-control'
              .col-md-3.col-sm-3.str-container
                %span.req *
            .row
              .col-md-3.col-sm-3.lbl-container
                \&nbsp;
              .col-md-6.col-sm-6.input-container
                %label.myCheckbox
                  = f.check_box :big_year
                  -#%input{:name => "participate", :type => "checkbox"}/
                  %span
                %label{:for => "participate"} Я хочу участвовать в Большом Годе
              .col-md-3.col-sm-3.str-container
                \&nbsp;
            .row.acenter
              .col-md-3.col-sm-3.lbl-container
                \&nbsp;
              .col-md-6.col-sm-6.input-container
                = f.submit "Зарегистрироваться", class: 'mtop10 w100p btn-lg btn btn-info'
                =link_to 'У меня уже есть аккаунт', new_user_session_path
            .row
              .col-md-3.col-sm-3.lbl-container
                \&nbsp;
              .col-md-6.col-sm-6.input-container
                =link_to 'Регистрация через Facebook', user_omniauth_authorize_path(:facebook), class: 'fb-login'
              .col-md-3.col-sm-3.str-container
                \&nbsp;

    / Content FOOT
    .row.top-row.acenter
      %p.sm-display-none.info-color.mtop50 Мы гарантируем конфиденциальность данных, которые вы предоставляете нам при регистрации
