.bg-btm-container
  / Content
  .container.content
    - swift_scope = 'swifts.about'
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4
            = I18n.t('title', scope: swift_scope)
          %p
            = I18n.t('text_1', scope: swift_scope)
          %p
            = I18n.t('contacts', scope: swift_scope)
            %i
              = I18n.t('contact_1', scope: swift_scope)
            %br
            %br
          %p
            = image_tag 'swift/kuda-obratitsya.jpg'
          %p
            = I18n.t('text_2', scope: swift_scope)
          %p
            = I18n.t('text_3', scope: swift_scope)
            %ul
              %li
                = I18n.t('text_4', scope: swift_scope)
              %li
                = I18n.t('text_5', scope: swift_scope)
          %br
          %p
            %i
              = I18n.t('swifts.links')
              %ul
                %li= link_to "#{I18n.t('file_name', scope: swift_scope)}", first_aid_swift_path
