.bg-btm-container
  / Content
  .container.content
    - swift_scope = 'swifts.first_aid'
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h3
            = I18n.t('title', scope: swift_scope)
          %p
            = image_tag 'swift/chto-delat-esli-nashli.jpg'
          %h4
            = I18n.t('todo_title', scope: swift_scope)
          %p
            = I18n.t('todo_1', scope: swift_scope)
          %p
            = I18n.t('todo_2', scope: swift_scope)
          %p
            = I18n.t('todo_3_1', scope: swift_scope)
            %b
              = I18n.t('todo_3_2', scope: swift_scope)
            = I18n.t('todo_3_3', scope: swift_scope)
          %h4
            = I18n.t('not_todo_title', scope: swift_scope)
          %p
            1)
            %b
              = I18n.t('not_todo_1_1', scope: swift_scope)
            = I18n.t('not_todo_1_2', scope: swift_scope)
          %p
            2)
            %b
              = I18n.t('not_todo_2_1', scope: swift_scope)
            = I18n.t('not_todo_2_2', scope: swift_scope)
          %p
            3)
            %b
              = I18n.t('not_todo_3_1', scope: swift_scope)
            = I18n.t('not_todo_3_2', scope: swift_scope)
          %p
            4)
            %b
              = I18n.t('not_todo_4_1', scope: swift_scope)
            = I18n.t('not_todo_4_2', scope: swift_scope)
          %br
          %p
            %i
              = I18n.t('swifts.links')
              %ul
                %li= link_to 'Куда обратиться за помощью?', about_swift_path
