.bg-btm-container.big-day-photo-contest
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 ФОТО Большой День
          %p
            6 декабря 2015 в Узбекистане прошел Фото Большой День. 15 участников соревновались между собой в Самарканде, Ташкенте и его окрестностях, на Туябугузском водохранилище и в Экоцентре «Джейран» (Бухарская область).
          %p
            Всего в этот день было отмечено 68 видов птиц, среди которых стоит отметить такие редкие виды, включенные в Красную книгу, как орлан-белохвост, скопа, черноголовый хохотун, белый  аист и черный гриф!
          %p
            =link_to 'Полный список видов Фото Большого дня', big_day_photo_species_contest_path
          %p
            = image_tag 'contests/big_year_2015/bd_photo/photo_1.jpg'
            .pre-text.center
              %i
                Камышовая овсянка на рассвете. Экоцентр «Джейран». (Фото Тен А.)
          %p
            = image_tag 'contests/big_year_2015/bd_photo/photo_2.jpg'
            .pre-text
              %i
                В ожидании широкохвостки. (Фото Мурзаханова Р.)
          %p
            = image_tag 'contests/big_year_2015/bd_photo/photo_3.jpg'
            .pre-text
              %i
                Участники вместе с командой поддержки. (Фото Мурзаханова Р.)
          %p
            = image_tag 'contests/big_year_2015/bd_photo/photo_4.jpg'
            .pre-text
              %i
                На Туябугузском вододохранилище. (Фото Грицына М.)

          %p
            Трое участников особо выделились и набрали более 40 видов птиц! Победитель Денис Нуриджанов  набрал 49 видов, на 2 месте - Тимур Абдураупов с 45 видами, и на 3 месте Мария Грицына, сфотографировавшая 42 вида!
          %p
            = image_tag 'contests/big_year_2015/bd_photo/photo_5.jpg', style: 'width: 700px;'
            .pre-text
              %i
                Денис, поздравляем с победой! (Фото Грицына М.)
          %p
            Фото Большой день, да и другие наши мероприятия не состоялись бы, если бы не люди, которые поддержали и поверили в Birds.uz. Спасибо участникам за их азарт и удовольствие, которое они приносят своими фотографиями всем нам! Благодарим спонсоров за приз! Особое спасибо Андрею Коваленко, Василию Федоренко и другим экспертам!
          %p
            С нами интересно, присоединяйтесь к другим мероприятиям Birds.uz!
          %p
            %i.pre-text Команда Birds.uz

