.bg-btm-container.big-day-tashkent-contest
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Большой День в Ташкенте или у природы нет плохой погоды
          %p
            %i.pre-text
              15ноября в Ташкенте командой Birds.uz проводилось соревнование бердвотчеров-Большой День.
          %p
            Подготовка большинства команд началась за несколько дней до старта с составления планов, предварительных списков видов птиц, которых можно встретить в Ташкенте, выбора точек обследования и определения маршрута, некоторые даже проводили разведку. Самым любимым делом была проверка прогноза погоды. И как оказалось будто бы впервые, прогноз – проливной дождь со снегом - был верен аж за неделю...
          %p
            = image_tag 'contests/big_year_2015/bd_tash/photo-1.jpg'
            .pre-text
              %i
                Под дождем (Фото Шайдуллина Н.)
          %p
            15 ноября многие проснулись затемно, и в 7 утра уже были на точках маршрута. По мере наступления дня начинающийся дождь перешел в ливень, но это не пугало птиц, а значит и участников. По правилам не менее 2  участников и тренера в команде должны отметить птицу, что, конечно, держало всех в тонусе. Команды, как магнитом стягивались к наиболее «птичьим» местам Ташкента, тут же расходились, тщательно скрывая свои наблюдения и дальнейшие планы. Лишь к обеду насквозь промокшие команды разбежались: кто по кафе греться, кто по домам переодеваться, а кого-то просто приютили и обогрели добрые люди.
          %p
            = image_tag 'contests/big_year_2015/bd_tash/bird-1.jpg'
            .pre-text
              %i
                Крапивник (Фото Нуриджанова Д.)
          %p
            Выше к обеду, несмотря на снег и град, команды продолжили искать птиц. Бёрдвотчинг продолжался до последних минут, как ни странно списки самых желаемых в эти минуты возглавили самые обычные виды – кольчатая горлица и скворец.
          %p
            = image_tag 'contests/big_year_2015/bd_tash/bird-2.jpg'
            .pre-text
              %i
                Восточный канюк (Фото Мурзаханова Р.)
          %p
            Со счетом 45 видов птиц победила команда «Прометей» под руководством Нодира Азимова! В составе команды: Эрнест Куртвелиев, Елена Абдуллаева, Павел Карабаев и Маргарита Сычевская. Победители получили 4 определителя Collins – Birds of Europe.
          %p
            = image_tag 'contests/big_year_2015/bd_tash/photo-2.jpg'
            .pre-text
              %i
                Победители - команда «Прометей» (Фото Мурзаханова Р.)
          %p
            По оценке профессора Митропольского О.В. эта же команда смогла обнаружить самые интересные виды. За что они и получили приз - определитель птиц «Birds of Central Asia» с подписью первого автора Rafael Aye, а также дипломы Общества Охраны птиц Узбекистана от  его Председателя Олега Вильевича Митропольского и директора Романа Кашкарова!
          %p
            = image_tag 'contests/big_year_2015/bd_tash/photo-3.jpg'
            .pre-text
              %i
                Вручение дипломов в офисе Общества охраны птиц Узбекистана (Фото Адыловой Д.)
          %p
            Всего в этом ненастном Большом дне приняло участие 36 человек в составе 8 команд. У природы нет плохой погоды, и это было подтверждено результатами: было отмечено 62 вида птиц.
          %p
            = image_tag 'contests/big_year_2015/bd_tash/photo-4.jpg'
            .pre-text
              %i
                Участники Большого Дня в гостях. (Фото Низамова Р.)
          %p
            Поздравляем победителей и благодарим всех, кто принял участие в Большом Дне, а спонсоров за призы!
          %p
            %i.pre-text Команда Birds.uz

          .dropdown
            %button#menu1.btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
              P.S. Cписок видов Большого дня в Ташкенте 15.11.2015
              %span.caret
            %ol.dropdown-menu{"aria-labelledby" => "menu1", :role => "menu"}
              %li{:role => "presentation"} Малая поганка (Tachybaptus ruficollis)
              %li{:role => "presentation"} Большой баклан (Phalacrocorax carbo)
              %li{:role => "presentation"} Малый баклан (Phalacrocorax pygmaeus )
              %li{:role => "presentation"} Кваква (Nycticorax nycticorax )
              %li{:role => "presentation"} Серая цапля (Ardea cinerea)
              %li{:role => "presentation"} Серый гусь (Anser anser)
              %li{:role => "presentation"} Кряква (Anas platyrhynchos)
              %li{:role => "presentation"} Чирок-свистунок (Anas crecca)
              %li{:role => "presentation"} Полевой лунь  (Circus cyaneus )
              %li{:role => "presentation"} Болотный лунь (Circus aeruginosus )
              %li{:role => "presentation"} Перепелятник (Accipiter nisus )
              %li{:role => "presentation"} Курганник (Buteo rufinus)
              %li{:role => "presentation"} Канюк (Buteo buteo )
              %li{:role => "presentation"} Восточный канюк (Buteo japonicus )
              %li{:role => "presentation"} Чеглок (Falco subbuteo)
              %li{:role => "presentation"} Обыкновенный фазан (Phasianus colchicus)
              %li{:role => "presentation"} Водяной пастушок (Rallus aquaticus)
              %li{:role => "presentation"} Камышница (Gallinula chloropus )
              %li{:role => "presentation"} Лысуха (Fulica atra)
              %li{:role => "presentation"} Черныш (Tringa ochropus )
              %li{:role => "presentation"} Перевозчик (Actitis hypoleucos)
              %li{:role => "presentation"} Обыкновенный бекас (Gallinago gallinago )
              %li{:role => "presentation"} Озерная чайка (Larus ridibundus)
              %li{:role => "presentation"} Морской голубок (Larus genei)
              %li{:role => "presentation"} Малая поганка (Tachybaptus ruficollis)
              %li{:role => "presentation"} Хохотунья (Larus cachinnans)
              %li{:role => "presentation"} Вяхирь (Columba palumbus)
              %li{:role => "presentation"} Сизый голубь (Columba livia )
              %li{:role => "presentation"} Кольчатая горлица (Streptopelia decaocto)
              %li{:role => "presentation"} Малая горлица (Streptopelia senegalensis)
              %li{:role => "presentation"} Обыкновенный зимородок (Alcedo atthis)
              %li{:role => "presentation"} Хохлатый жаворонок (Galerida cristata)
              %li{:role => "presentation"} Горный конек (Anthus spinoletta )
              %li{:role => "presentation"} Горная трясогузка (Motacilla cinerea )
              %li{:role => "presentation"} Белая трясогузка (Motacilla alba)
              %li{:role => "presentation"} Маскированная трясогузка (Motacilla personata)
              %li{:role => "presentation"} Обыкновенный скворец (Sturnus vulgaris)
              %li{:role => "presentation"} Обыкновенная майна (Acridotheres tristis)
              %li{:role => "presentation"} Сорока (Pica pica)
              %li{:role => "presentation"} Галка (Corvus monedula)
              %li{:role => "presentation"} Грач (Corvus frugilegus)
              %li{:role => "presentation"} Черная ворона (Corvus corone)
              %li{:role => "presentation"} Серая ворона (Corvus cornix)
              %li{:role => "presentation"} Крапивник (Troglodytes troglodytes)
              %li{:role => "presentation"} Пеночка-теньковка (Phylloscopus collybita)
              %li{:role => "presentation"} Желтоголовый королек (Regulus regulus)
              %li{:role => "presentation"} Красноспинная горихвостка (Phoenicurus erythronotus)
              %li{:role => "presentation"} Варакушка (Luscinia svecica)
              %li{:role => "presentation"} Чернозобый дрозд (Turdus atrogularis)
              %li{:role => "presentation"} Чёрный дрозд (Turdus merula)
              %li{:role => "presentation"} Деряба (Turdus viscivorus)
              %li{:role => "presentation"} Желтогрудая лазоревка (Parus flavipectus)
              %li{:role => "presentation"} Бухарская синица (Parus bokharensis)
              %li{:role => "presentation"} Полевой воробей (Passer montanus)
              %li{:role => "presentation"} Зяблик (Fringilla coelebs)
              %li{:role => "presentation"} Юрок (Fringilla montifringilla)
              %li{:role => "presentation"} Обыкновенная зеленушка (Chloris chloris)
              %li{:role => "presentation"} Чиж (Spinus spinus)
              %li{:role => "presentation"} Седоголовый щегол (Сarduelis caniceps)
              %li{:role => "presentation"} Коноплянка (Acanthis cannabina)
              %li{:role => "presentation"} Обыкновенная овсянка (Emberiza citrinella)
              %li{:role => "presentation"} Горная овсянка (Emberiza cia)
