.bg-btm-container.big-day-contest
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Большой день
          %p
            4 октября в
            =link_to 'экоцентре «Джейран»', 'http://ecocenter.uz'
            прошло соревнование по бёрдвотчингу «Большой день». В эти дни, со 2 по 4 октября в Экоцентре проходил тотальный учет животных, здесь собралось более 40 волонтеров – любителей природы, которые и стали нашей целевой аудиторией.
          %p
            = image_tag 'contests/photo_pr.JPG'
            .pre-text
              %i
                Презентация сайта (Фото  Натальи Шайдуллиной)
          %p
            2 октября была проведена презентация сайта Birds.uz, на которой наша команда рассказала о том, что такое бёрдвотчинг, как работает наш сайт, и дала подсказки, как определять птиц. После желающим было предложено создать команды по 4 человека. В субботу до позднего вечера шло формирование команд, переговоры и подготовка к Большому дню. К каждой команде был прикреплен тренер, задачей которого было помогать в определении птиц.
          %p
            = image_tag 'contests/photo_sl.JPG'
            .pre-text
              %i
                - species2 = Species.find(342)
                = link_to species2.full_name, species_path(species2)
                (Фото Динары Адыловой)
          %p
            Итак, в воскресенье команды, нацеленные на победу, встали с утра пораньше, и, наскоро позавтракав, отправились с восходом солнца за птицами. Чтобы не создавать излишней толкотни, группы пошли по разным маршрутам. К обеду, голодные и уставшие бёрдвотчеры подтягивались в лагерь. Попутно обсуждались результаты и интересные находки. Во время самой трапезы в небе появился степной орел, заставив особо активных участников побросать ложки и взяться за фотоаппараты. Окончание игры было назначено на 16:00, поэтому после обеда борьба развернулась особенно остро, и команды продолжили выслеживать птиц.
          %p
            = image_tag 'contests/photo_win.JPG'
            .pre-text
              %i
                Победители (Фото Феруза Рустамова)
          %p
            По результатам 10-ти часового бёрдвочинга первое место заняла команда Дениса Нуриджанова в составе Динары Адыловой, Александры Заславской, Галины Никитины и Эвелины Григорьянц с результатом 44 птицы. Победителям были вручены призы – определители птиц «Birds of Central Asia».
          %p
            «Как художник, я всегда интересовалась природой, но на этот раз для меня открылся новый мир – мир птиц», - сообщила одна из счастливчиков Эвелина Григорьянц.
          %p
            = image_tag 'contests/photo_vr.JPG'
            .pre-text
              %i
                - species1 = Species.find(394)
                = link_to species1.full_name, species_path(species1)
                (Фото Динары Адыловой)
          %p
            Информация о конкурсе была размещена на нашем сайте и социальных сетях. Подобные соревнования будут продолжаться, присоединяйтесь к нам и следите за анонсами!
          %p
            Команда Birds.uz поздравляет победителей и надеется, что участникам «Большого дня» понравилось наблюдать за птицами, и они станут активными пользователями нашего сайта.

          %p
            %i.pre-text
              Список встреченных птиц:
            %br
            1. Кольчатая горлица
            %br
            2. Полевой воробей
            %br
            3. Бухарская синицае
            %br
            4. Зеленая щурка
            %br
            5. Сизый голубь
            %br
            5. Сорока
            %br
            6. Серая цапля
            %br
            7. Хохлатый жаворонок
            %br
            8. Болотный лунь
            %br
            9. Белая трясогузка
            %br
            10. Испанский воробей
            %br
            11. Большой веретенник
            %br
            12. Славка-мельничек
            %br
            13. Варакушка
            %br
            14. Теньковка
            %br
            15. Тонкоклювая камышевка
            %br
            16. Черныш
            %br
            17. Туркестанский сорокопут
            %br
            18. Чернобрюхий рябок
            %br
            19. Большой баклан
            %br
            20. Большая выпь
            %br
            21. Обыкновенная горихвостка
            %br
            22. Огарь
            %br
            23. Фазан
            %br
            24. Серая славка
            %br
            25. Деревенская ласточка
            %br
            26. Кряква
            %br
            27. Малая горлица
            %br
            28. Майна
            %br
            29. Буланный вьюрок
            %br
            30. Малая мухоловка
            %br
            31. Зеленая пеночка
            %br
            32. Горная славка
            %br
            33. Чирок-свистунок
            %br
            34. Красноголовый нырок 
            %br
            35. Широконоска
            %br
            36. Свиязь
            %br
            37. Серая утка
            %br
            38. Красноносый нырок
            %br
            39. Белоглазый нырок
            %br
            40. Пустынная славка
            %br
            41. Обыкновенная каменка
            %br
            42. Обыкновенный скворец
            %br
            43. Кашгарский сорокопут
            %br
            44. Степной орел
            %br

