.bg-btm-container.big-day-contest
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4 Большой день
          %p
            4 октября в
            =link_to 'экоцентре «Джейран»', 'http://ecocenter.uz'
            прошло соревнование по бёрдвотчингу «Большой день». В эти дни, со 2 по 4 октября в Экоцентре проходил тотальный учет животных, здесь собралось более 40 волонтеров – любителей природы, которые и стали нашей целевой аудиторией.
          %p
            = image_tag 'contests/photo_pr.JPG'
            .pre-text
              %i
                Презентация сайта (Фото  Натальи Шайдуллиной)
          %p
            2 октября была проведена презентация сайта Birds.uz, на которой наша команда рассказала о том, что такое бёрдвотчинг, как работает наш сайт, и дала подсказки, как определять птиц. После желающим было предложено создать команды по 4 человека. В субботу до позднего вечера шло формирование команд, переговоры и подготовка к Большому дню. К каждой команде был прикреплен тренер, задачей которого было помогать в определении птиц.
          %p
            = image_tag 'contests/photo_sl.JPG'
            .pre-text
              %i
                - species2 = Species.find(342)
                = link_to species2.full_name, species_path(species2)
                (Фото Динары Адыловой)
          %p
            Итак, в воскресенье команды, нацеленные на победу, встали с утра пораньше, и, наскоро позавтракав, отправились с восходом солнца за птицами. Чтобы не создавать излишней толкотни, группы пошли по разным маршрутам. К обеду, голодные и уставшие бёрдвотчеры подтягивались в лагерь. Попутно обсуждались результаты и интересные находки. Во время самой трапезы в небе появился степной орел, заставив особо активных участников побросать ложки и взяться за фотоаппараты. Окончание игры было назначено на 16:00, поэтому после обеда борьба развернулась особенно остро, и команды продолжили выслеживать птиц.
          %p
            = image_tag 'contests/photo_win.JPG'
            .pre-text
              %i
                Победители (Фото Феруза Рустамова)
          %p
            По результатам 10-ти часового бёрдвочинга первое место заняла команда Дениса Нуриджанова в составе Динары Адыловой, Александры Заславской, Галины Никитины и Эвелины Григорьянц с результатом 44 птицы. Победителям были вручены призы – определители птиц «Birds of Central Asia».
          %p
            «Как художник, я всегда интересовалась природой, но на этот раз для меня открылся новый мир – мир птиц», - сообщила одна из счастливчиков Эвелина Григорьянц.
          %p
            = image_tag 'contests/photo_vr.JPG'
            .pre-text
              %i
                - species1 = Species.find(394)
                = link_to species1.full_name, species_path(species1)
                (Фото Динары Адыловой)
          %p
            Информация о конкурсе была размещена на нашем сайте и социальных сетях. Подобные соревнования будут продолжаться, присоединяйтесь к нам и следите за анонсами!
          %p
            Команда Birds.uz поздравляет победителей и надеется, что участникам «Большого дня» понравилось наблюдать за птицами, и они станут активными пользователями нашего сайта.

          %p
            %i.pre-text
              Список встреченных птиц:
            %br
            1. Большой баклан  Phalacrocorax carbo 
            %br
            2. Малый баклан Phalacrocorax pygmaeus
            %br
            3. Большая выпь Botaurus stellaris 
            %br
            4. Большая белая цапля Egretta alba
            %br
            5. Серая цапля Ardea cinerea
            %br
            6. Огарь Tadorna ferruginea
            %br
            7. Кряква Anas platyrhynchos 
            %br
            8. Чирок-свистунок Anas crecca
            %br
            9. Серая утка Anas strepera 
            %br
            10. Свиязь Anas penelope 
            %br
            11. Широконоска Anas clypeata
            %br
            12. Красноносый нырок Netta rufina 
            %br
            13. Белоглазый нырок Aythya nyroca 
            %br
            14. Болотный лунь Circus aeruginosus
            %br
            15. Туркестанский тювик Accipiter badius
            %br
            16. Канюк Buteo buteo
            %br
            17. Орел-карлик Hieraaetus pennatus
            %br
            18. Степной орел Aquila nipalensis
            %br
            19. Обыкновенный фазан Phasianus colchicus 
            %br
            20. Серый журавль Grus grus 
            %br
            21. Морской зуек Charadrius alexandrinus 
            %br
            22. Черныш Tringa ochropus 
            %br
            23. Большой веретенник Limosa limosa 
            %br
            24. Озерная чайка Larus ridibundus 
            %br
            25. Чеграва Hydroprogne caspia
            %br
            26. Хохотунья Larus cachinnans 
            %br
            27. Чернобрюхий рябок Pterocles orientalis
            %br
            28. Сизый голубь Columba livia
            %br
            29. Кольчатая горлица Streptopelia decaocto
            %br
            30. Малая горлица Streptopelia senegalensis 
            %br
            31. Буланый козодой Caprimulgus aegyptius
            %br
            32. Обыкновенный зимородок Alcedo atthis 
            %br
            33. Зеленая щурка Merops persicus
            %br
            34. Ласточка деревенская Hirundo rustica
            %br
            35. Хохлатый жаворонок Galerida cristata
            %br
            36. Белая трясогузка Motacilla alba 
            %br
            37. Буланый жулан Lanius isabellinus
            %br
            38. Туркестанский жулан Lanius phoenicuroides
            %br
            39. Обыкновенный скворец Sturnus vulgaris 
            %br
            40. Обыкновенная майна Acridotheres tristis
            %br
            41. Сорока Pica pica
            %br
            42. Грач Corvus frugilegus
            %br
            43. Черная ворона Corvus corone
            %br
            44. Соловьиная широкохвостка Cettia cetti 
            %br
            45. Тонкоклювая камышевка Acrocephalus melanopogon 
            %br
            46. Индийская камышевка Acrocephalus agricola 
            %br
            47. Серая славка Sylvia communis 
            %br
            48. Славка-завирушка Sylvia curruca 
            %br
            49. Горная славка Sylvia althaea
            %br
            50. Пустынная славка Sylvia nana
            %br
            51. Пеночка-теньковка Phylloscopus collybita 
            %br
            52. Зеленая пеночка Phylloscopus trochiloides 
            %br
            53. Малая мухоловка Ficedula parva
            %br
            54. Сибирский чекан Saxicola maurus 
            %br
            55. Обыкновенная каменка Oenanthe oenanthe 
            %br
            56. Обыкновенная горихвостка Phoenicurus phoenicurus
            %br
            57. Горихвостка-чернушка Phoenicurus ochruros 
            %br
            58. Варакушка Luscinia svecica 
            %br
            59. Черный дрозд Turdus merula 
            %br
            60. Черноголовый ремез Remiz coronatus
            %br
            61. Желтогрудая лазоревка Parus flavipectus
            %br
            62. Бухарская синица Parus bokharensis 
            %br
            63. Домовый воробей Passer domesticus
            %br
            64. Испанский воробей Passer hispaniolensis
            %br
            65. Полевой воробей Passer montanus
            %br
            66. Чиж Spinus spinus
            %br
            67. Буланый вьюрок Rhodospiza obsoleta 
            %br
            68. Обыкновенная чечевица Carpodacus erythrinus 

