.bg-btm-container
  .container.content
    .row.bird-descr-container.mtop20.mbtm20.content-container
      .col.col-md-8.col-sm-12
        .row.bird-photo-title
          -if @species.name_ru.blank?
            %h3= @species.name_lat
          -else
            %h3= @species.name_ru
            %p
              %i= @species.name_lat
            %p= @species.name_uz
            %p
              %i= @species.name_en

        -if @species.single_subspecies && @species.sub_species.present?
          .row.mbtm15
            В Узбекистане обитает подвид -
            =@species.sub_species.first.full_name

        -if @species.images.any?
          - if @default_image.present?
            #media_block.row.bird-photo-img
              =link_to @default_image.image.url, id: 'fancybox_single_image', title: @default_image.description do
                =image_tag @default_image.image.small.url, class: 'img-responsive'
          .row.add-comment-form-container
            .row.add-comment-form
              %p
                .col.col-md-1.aright
                  %p
                    %span.lbl Автор:
                  %p
                    %span.lbl Дата:
                  %p
                    %span.lbl Место:
                .col.col-md-11
                  %p#photo_author= @default_image.author
                  %p#photo_date= date_format(@default_image.date)
                  %p#photo_place= @default_image.address
            .row.photo-info-dinamic
              %p#photo_descr_text= @default_image.description

        .row
          .col-sm-12.col.col-md-12
            .row.bird-photo-description
              .row.bird-description
                %p
                  %h5 Описание
                %p= @species.description&.html_safe

                - if @species.distribution.present?
                  %p
                    %h5 Распространение
                  %p= @species.distribution&.html_safe

                - if @species.biology.present?
                  %p
                    %h5 Биология
                  %p= @species.biology&.html_safe

                - if @species.sub_species.present? && !@species.single_subspecies
                  %p.bird-sub-species
                    %ol
                      %h5 Подвиды
                      -@species.sub_species.each do |sp|
                        %li=link_to sp.full_name, species_path(sp)

                - if @species.reference.present?
                  %p
                    %h5 Источники информации
                  %p
                    %i= @species.reference&.html_safe

      .col-sm-12.col.col-md-4.fright.m-no-float
        .row.bird-photo-btn
          =link_to 'Все встречи с видом', map_index_path(species_id: @species.id), class: 'btn btn-info sm-display-none'

        -if @species.images.size > 1
          .thumb_container.row.bird-photo-tumbs
            - @species.images.limit(8).each do |image|
              .col-sm-4.col.col-md-6
                = image_tag image.image.thumb.url, 'class' => 'img-responsive', 'data' => { 'src-small' => image.image.small.url,
                                                                                            'src-large' => image.image.url,
                                                                                            'author' => image.author,
                                                                                            'date' => date_format(image.date),
                                                                                            'description' => image.description,
                                                                                            'place' => image.address }

        / FOR SMALLER DISPLAYS
        .row.bird-photo-btn.p0
          =link_to 'Все встречи с видом', map_index_path(species_id: @species.id), class: 'btn btn-info display-sm-only mbtm20'

        .row.bird-info-blck.block-science
          .row.info-block-head
            %p Научная классификация
          .row.info-block-body
            %p
              %span.lbl> Отряд:
              = @species.family.order.name_ru
              %br
                %span.lbl> Семейство:
                = @species.family.name_ru
                %br
                  %span.lbl> Вид:
                  = @species.default_name

        - if @species.status.present?
          .row.bird-info-blck.block-status
            .row.info-block-head
              %p Охранный статус
            .row.info-block-body
              %p= @species.status
