.bg-btm-container
  .container.content
    .row.users-container.mtop20
      .row.users-text.mbtm20
        %h4 Бердвотчеры
        %p
          %i
            На нашем сайте зарегистрировано бердвотчеров - #{@users.size},
            из них участников
            =link_to 'Большого Года -', big_year_pages_path
            #{@big_year_users_count}
      .row
        .users-list-title.mbtm15
          Список бердвотчеров

        - index = 1
        - @users.each do |user|
          .row.user-block
            .col-md-1.user-left-blck
              %p
                ="#{index}."
                =image_tag user.avatar.thumb.url, class: 'img-circle', align: 'right'
                -index += 1
            .col-md-3.user-right-blck
              =link_to user.full_name, profile_path(user.id)
              %p= "Всего фотографий #{user['birds_count'] || 0}"
            -#.col-md-2.user-right-blck1
              -if user.big_year
                =image_tag 'user/icon-2016.png'
