.bg-btm-container
  .container.content
    - users_scope = 'users.index'
    .row.users-container.mtop20
      .row.users-text.mbtm20
        %h4
          = I18n.t('title', scope: users_scope)
        %p
          %i
            #{I18n.t('text_1', scope: users_scope)} - #{@users.size}, #{I18n.t('text_2', scope: users_scope)}
            =link_to "#{I18n.t('bg', scope: users_scope)}", big_year_path
            #{@big_year_users_count}
      .row
        .users-list-title.mbtm15
          = I18n.t('birders', scope: users_scope)

        - index = 1
        - @users.each do |user|
          .row.user-block
            .col-md-1.user-left-blck
              %p
                ="#{index}."
                =image_tag user.avatar.thumb.url, class: 'img-circle', align: 'right'
                -index += 1
            .col-md-3.user-right-blck
              =link_to user.full_name, profile_path(user.id)
              %p= "#{I18n.t('photo_count', scope: users_scope)} #{user['birds_count'] || 0}"
            -#.col-md-2.user-right-blck1
              -if user.big_year
                =image_tag 'user/icon-2016.png'
