.posters.banner
  .row.container
    .col.col-md-5
      %ul.banner-menu
        %li
          %p Внимание, конкурсы!
        %li= link_to 'Прими участие в зимних учетах', winter_bird_watch_contest_path
        %li= link_to 'Лучшая фотография птицы Узбекистана', best_photo_contest_path
        %li= link_to 'Лучший друг birds.uz', our_friend_contest_path
        %li= link_to 'Архив ...', past_contest_path
    .col.col-md-7
      .banner-image= image_tag 'banners/contest-bird.jpg'
