.footer
  = render 'shared/nav_add_photo'
  .footer-inner
    .container
      .fleft
        %p
          =link_to root_path do
            =image_tag "navbar/bird_white.png", :align => "left"
          =link_to 'Birds.uz', root_path
          &copy;
          =Time.zone.now.year
          %br
          Developed by
          = succeed ',' do
            = mail_to 'khaleksa@gmail.com', 'Alexandra Khegay'
          design by
          = mail_to '4dinaa@gmail.com', 'Dina Adilova'
      .fright
        %p.aright
          Все права на опубликованные на сайте материалы принадлежат их авторам.
          %br
          Обо всех ошибках при работе сайта просьба сообщать на почту:
          = mail_to 'khalex@bk.ru', 'khalex@bk.ru'
