.footer
  = render 'shared/nav_add_photo'
  .footer-inner
    .container
      .fleft
        %p
          =link_to root_path do
            =image_tag "navbar/bird_white.png", :align => "left"
          =link_to 'Birds.uz', root_path
          &copy;
          2015-#{Time.zone.now.year}
          %br
          Developed by
          = succeed ',' do
            = mail_to 'khaleksa@gmail.com', 'Alexandra Khegay'
          design by
          = mail_to '4dinaa@gmail.com', 'Dina Adilova'
      .fright
        -if Rails.env.development? || [1, 9].include?(current_user.try(:id))
          =link_to 'ru', switch_locale_path(locale: :ru)
          =link_to 'en', switch_locale_path(locale: :en)
          =link_to 'uz', switch_locale_path(locale: :uz)
        -else
          %p.aright
            Все права на опубликованные на сайте материалы принадлежат их авторам.
            %br
            Обо всех ошибках при работе сайта просьба сообщать на почту:
            = mail_to 'khalex@bk.ru', 'khalex@bk.ru'
