.footer
  = render 'shared/nav_add_photo'
  .footer-inner
    - footer_scope = 'shared.footer'
    .container
      .fleft
        %p
          =link_to root_path do
            =image_tag "navbar/bird_white.png", :align => "left"
          =link_to 'Birds.uz', root_path
          &copy;
          2015-#{Time.zone.now.year}
          %br
          Developed by
          = succeed ',' do
            = mail_to 'khaleksa@gmail.com', 'Alexandra Khegay'
          design by
          = mail_to '4dinaa@gmail.com', 'Dina Adilova'
      .fright
        -if Rails.env.development? || [1, 9, 4].include?(current_user.try(:id))
          =link_to 'ru', switch_locale_path(locale: :ru)
          =link_to 'en', switch_locale_path(locale: :en)
          =link_to 'uz', switch_locale_path(locale: :uz)
        -else
          %p.aright
            = I18n.t('rights', scope: footer_scope)
            %br
            = I18n.t('contacts', scope: footer_scope)
            = mail_to 'khalex@bk.ru', 'khalex@bk.ru'
