.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      - about_scope = 'pages.about'
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4
            = I18n.t('.title', scope: about_scope)
          %p
            %i.pre-text
              = I18n.t('.goal', scope: about_scope)
          %p
            = I18n.t('.tasks', scope: about_scope)
            %ul
              %li
                = I18n.t('.task_1', scope: about_scope)
              %li
                = I18n.t('.task_2', scope: about_scope)
              %li
                = I18n.t('.task_3', scope: about_scope)
              %li
                = I18n.t('.task_4', scope: about_scope)
              %li
                = I18n.t('.task_5', scope: about_scope)
          %p
            = I18n.t('.partners', scope: about_scope)
            %ul
              %li
                = I18n.t('.partner_1', scope: about_scope)
              %li
                = I18n.t('.partner_2', scope: about_scope)
          %p
            = I18n.t('.text_1', scope: about_scope)
          %p
            = I18n.t('.text_2', scope: about_scope)
          %p
            = I18n.t('.text_3', scope: about_scope)

      .col-sm-12.m-no-float.col.col-md-4.fright
        .row.site-stat-info-blck.mtop50
          .row.info-block-head
            %p
              = I18n.t('.statistics.title', scope: about_scope)
          .row.info-block-body.m-pleft30p
            %p
              %span.lbl>
                = I18n.t('.statistics.users', scope: about_scope)
              =@users_count
              %br
                %span.lbl>
                  = I18n.t('.statistics.species', scope: about_scope)
                =@species_count
                %br
                  %span.lbl>
                    = I18n.t('.statistics.photos', scope: about_scope)
                  =@birds_count
                  %br
