.bg-btm-container
  .container.content
    / Content BODY
    .row.big-year-container.mtop20
      .row
        %h4
          .big-year-text
            Большой год
          -#- @years.each do |year|
            = link_to year, big_year_pages_path(year: year), class: "year_item #{year == Time.zone.now.year ? 'active' : ''}"

        / Description
        %p
          %i Сайт birds.uz проводит соревнование среди бёрдвотчеров «Большой год».
        %p
          Основная цель – сфотографировать как можно большее количество видов птиц в течение календарного года на территории нашей страны.
          Впервые подобное соревнование было организовано в 30-е годы в США.
          В Узбекистане «Большой год» проходит с 2014 года.
        %p
          Если вы хотите принять участие в «Большом годе», ознакомьтесь с правилами, зарегистрируйтесь и загружайте свои находки на наш сайт.
        %p
          Ваши фотографии позволят понять нынешнее распространение птиц в нашей стране.

      / Menu
      .row.sub-nav-pils.mtop20.sm-display-none
        %a.big-year-menu.active{"data-view" => "block1"}
          %span Участники [#{@participants.size}]
        %a.big-year-menu{"data-view" => "block2"}
          %span Виды [#{@species.size}]
        %a.big-year-menu{"data-view" => "block3"}
          %span Правила конкурса

      / Menu's blocks
      .row.blocks-content

        .block-holder
          .mobile-blocks-nav
            %a{"data-view" => "block1"}
              %span Участники [#{@participants.size}]
          #block1.row.big-year-block-container.mtop10.active-block
            - index = 1
            - @participants.each do |user|
              .row.city-participant
                .participant-left-blck
                  %p
                    ="#{index}."
                    %img.img-circle{:align => "right", :src => user.avatar.thumb.url}/
                    -index += 1
                .participant-right-blck
                  =link_to user.full_name, profile_path(user.id)
                  %p= "Всего видов: #{user.species_count}"

        .block-holder
          .mobile-blocks-nav
            %a{"data-view" => "block2"}
              %span Виды [#{@species.size}]
          #block2.row.big-year-block-container.mtop10
            .row.bird-list.scroll-container
              %ol
                -@species.each do |species|
                  %li=link_to species.full_name, species_path(species)

        .block-holder
          .mobile-blocks-nav
            %a{"data-view" => "block3"}
              %span Правила конкурса
          #block3.row.big-year-block-container.mtop10
            %ol
              %li
                Конкурс открыт для участия для всех любителей птиц.
              %li
                Конкурс проводится в течение календарного года с 1 января по 31 декабря 2016 года.
              %li
                Все желающие могут подключиться к игре в любой момент.
              %li
                Конкурс ограничен территорией Узбекистана.
              %li
                Каждая встреча должна быть подтверждена фотографией, по которой можно четко определить видовую принадлежность птицы.
              %li
                Вид будет засчитан после подтверждения одним из членов жюри соревнования.
              %li
                Если вы не уверены, к какому виду относится сфотографированная вами птица, то команда сайта поможет это определить.
              %li
                Не учитываются птицы, разводимые и содержащиеся в неволе.
