.bg-btm-container
  / Content
  .container.content
    - rules_scope = 'pages.rules'
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h4
            = I18n.t('title', scope: rules_scope)
          %p
            = I18n.t('text_1', scope: rules_scope)
          %p
            = I18n.t('text_2', scope: rules_scope)
          %p
            = I18n.t('text_3', scope: rules_scope)
          %p
            = I18n.t('principels.title', scope: rules_scope)
            %ul
              %li
                = I18n.t('principels.p1', scope: rules_scope)
              %li
                = I18n.t('principels.p2', scope: rules_scope)
              %li
                = I18n.t('principels.p3', scope: rules_scope)
              %li
                = I18n.t('principels.p4', scope: rules_scope)
              %li
                = I18n.t('principels.p5', scope: rules_scope)
              %li
                = I18n.t('principels.p6', scope: rules_scope)
              %li
                = I18n.t('principels.p7', scope: rules_scope)
              %li
                = I18n.t('principels.p8', scope: rules_scope)
          %p
            = I18n.t('reference', scope: rules_scope)
            =link_to "#{I18n.t('uzspb', scope: rules_scope)}", 'http://uzspb.uz/how_to_watch_birds.pdf'
          %p
            Наблюдайте, восхищайтесь и делитесь радостью на нашем сайте!
