.bg-btm-container.help-container
  / Content
  .container.content
    - help_scope = 'pages.help'
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h3
            = I18n.t('.title', scope: help_scope)
          %p
            %i.pre-text
              = I18n.t('.text', scope: help_scope)
          %p
            %h4
              = I18n.t('.add_photo.title', scope: help_scope)
            %ul
              %li
                = I18n.t('.add_photo.step_1', scope: help_scope)
              %li
                = I18n.t('.add_photo.step_2.title', scope: help_scope)
                %p
                  = I18n.t('.add_photo.step_2.text_1', scope: help_scope)
                  %br
                  = image_tag 'help/add_photo/add-photo-button.png'
                  %br
                  = I18n.t('.add_photo.step_2.text_2', scope: help_scope)
              %li
                = I18n.t('.add_photo.step_3.title', scope: help_scope)
                %p
                  = I18n.t('.add_photo.step_3.text_1', scope: help_scope)
                  = succeed ', ' do
                    = image_tag 'help/add_photo/choose-file-button.png'
                  = I18n.t('.add_photo.step_3.text_2', scope: help_scope)
                %p
                  = image_tag 'help/add_photo/step-3.png', class: 'd-border'
                %i
                  %p
                    = I18n.t('.add_photo.step_3.note_1', scope: help_scope)
                  %p
                    = I18n.t('.add_photo.step_3.note_2', scope: help_scope)
                  %p
                    = I18n.t('.add_photo.step_3.note_3', scope: help_scope)
                %p
                  = I18n.t('.add_photo.step_3.text_3', scope: help_scope)
                  = image_tag 'help/add_photo/next-button.png'
                  = I18n.t('.add_photo.step_3.text_4', scope: help_scope)
                %p
                  = I18n.t('.add_photo.step_3.text_5', scope: help_scope)
              %li
                = I18n.t('.add_photo.step_4.title', scope: help_scope)
                %p
                  = I18n.t('.add_photo.step_4.text_1', scope: help_scope)
                  = image_tag 'help/add_photo/calendar-button.png'
                  = I18n.t('.add_photo.step_4.text_2', scope: help_scope)
                  %br
                  = I18n.t('.add_photo.step_4.text_3', scope: help_scope)
                  = image_tag 'help/add_photo/next-button.png'
                  = I18n.t('.add_photo.step_4.text_4', scope: help_scope)
              %li
                = I18n.t('.add_photo.step_5.title', scope: help_scope)
                %p
                  = I18n.t('.add_photo.step_5.text_1', scope: help_scope)
                %ul
                  %li
                    = I18n.t('.add_photo.step_5.text_2', scope: help_scope)
                  %li
                    = I18n.t('.add_photo.step_5.text_3', scope: help_scope)
                %br
                %p
                  = image_tag 'help/add_photo/step-5.png', class: 'd-border'
                %p
                  %i
                    = I18n.t('.add_photo.step_5.text_4', scope: help_scope)
                %p
                  = I18n.t('.add_photo.step_5.text_5', scope: help_scope)
                  = image_tag 'help/add_photo/next-button.png'
              %li
                = I18n.t('.add_photo.step_6.title', scope: help_scope)
                %p
                  = I18n.t('.add_photo.step_6.text_1', scope: help_scope)
                  = image_tag 'help/add_photo/publish-button.png'
                  = I18n.t('.add_photo.step_6.text_2', scope: help_scope)
                  =link_to "\"На определение\"", root_path(anchor: 'unknown')
                %p
                  = I18n.t('.add_photo.step_6.text_3', scope: help_scope)
                %p
                  = image_tag 'help/add_photo/step-6.png', class: 'd-border'
                %p
                  = I18n.t('.add_photo.step_6.text_4', scope: help_scope)
                  = image_tag 'help/add_photo/publish-button.png'
                  = I18n.t('.add_photo.step_6.text_5', scope: help_scope)
                  = link_to 'главную страницу', root_path
                %p
                  %i
                    = I18n.t('.add_photo.step_6.text_6', scope: help_scope)
                %p
                  = I18n.t('.add_photo.step_6.text_7', scope: help_scope)
