.bg-btm-container.help-container
  / Content
  .container.content
    / Content BODY
    .row.about-container.mtop20.content-container
      .col-sm-12.col.col-md-8.pright15.m-no-float
        .row.about-text
          %h3 Помощь
          %p
            %i.pre-text Этот раздел находится в разработке и будет постоянно дополнятся.
          %p
            %h4
              Как загрузить фотографию птицы на сайт?
            %ul
              %li
                ШАГ 1. ЗАРЕГИСТРИРУЙТЕСЬ на сайте
              %li
                ШАГ 2. ОТКРОЙТЕ СТРАНИЦУ ЗАГРУЗКИ
                %p
                  для этого вам нужно только кликнуть по кнопке
                  %br
                  = image_tag 'help/add_photo/add-photo-button.png'
                  %br
                  После чего появится страница "Добавить фотографию"
              %li
                ШАГ 3. ЗАГРУЗИТЕ ФОТОГРАФИЮ
                %p
                  Кликнув по кнопке
                  = succeed ', ' do
                    = image_tag 'help/add_photo/choose-file-button.png'
                  выберите фотографию для загрузки из папки на вашем компьютере. После чего фотография появится на странице.
                %p
                  = image_tag 'help/add_photo/step-3.png', class: 'd-border'
                %i
                  %p
                    * Помните, если вы загрузите фотографию так, как она есть, то фотография автоматически будет масштабирована под размер 700х524 и обрезана.
                  %p
                    * Вес фотографии не должен превышать 5 Мб.
                  %p
                    * Если вы хотите, чтобы ваша фотография отображалась на сайте правильно, то ее стороны должны быть альбомной ориентации и примерно пропорциональны 700х524.  Обрезку фотографии можно сделать в любом фоторедакторе.
                %p
                  Далее кликаем по кнопке
                  = image_tag 'help/add_photo/next-button.png'
                  чтобы перейти на следующий шаг.
                %p
                  Подождите, пока ваша фотография загрузится на сайт, после чего вы автоматически перейдете к следующему шагу.
              %li
                ШАГ 4. УКАЖИТЕ ДАТУ ВСТРЕЧИ
                %p
                  Кликнув по кнопке
                  = image_tag 'help/add_photo/calendar-button.png'
                  в предлагаемом окне, получаем календарь, в котором выбираем дату встречи птицы, иначе говоря дату съемки фотографии.
                  %br
                  Далее кликаем по кнопке
                  = image_tag 'help/add_photo/next-button.png'
                  и идем дальше.
              %li
                ШАГ 5 УКАЖИТЕ МЕСТО ВСТРЕЧИ
                %p
                  Есть 2 способа, указать место встречи:
                %ul
                  %li
                    Способ 1. Добавить координаты в формате десятичные градусы (decimal degree).
                  %li
                    Способ 2. Карта Google Map. Вы можете выбрать место наблюдения, используя весь имеющийся у карты Google Map функционал – приближения, перемещения и пр. Найдя место наблюдения, вам нужно только кликнуть на карту в определенной точке. После чего на карте появится маркер       , а в верхнем окне - координаты.
                %br
                %p
                  = image_tag 'help/add_photo/step-5.png', class: 'd-border'
                %p
                  %i
                    * Помните, что указание точного места встречи имеет научное значение, в дальнейшем ваши данные помогут уточнить ареал распространения вида.
                %p
                  Все что нужно сделать дальше, это написать название места встречи в нижнем окне, и кликнуть
                  = image_tag 'help/add_photo/next-button.png'
              %li
                ШАГ 6. УКАЖИТЕ ВИД ПТИЦЫ
                %p
                  Если вы не знаете вид или сомневаетесь, что правильно определили, то просто кликните по кнопке
                  = image_tag 'help/add_photo/publish-button.png'
                  и ваша фотография автоматически попадет на определение к экспертам в раздел
                  =link_to "\"На определение\"", root_path(anchor: 'unknown')
                %p
                  Если вид вам известен, то нужно ввести ключевое слово или начальные буквы из его названия, нажать кнопку                     , а затем выбрать из списка нужное вам название. Если вы все сделали правильно, то в окне возле надписи «Вид:», появится его название.
                %p
                  = image_tag 'help/add_photo/step-6.png', class: 'd-border'
                %p
                  После чего вам останется только нажать по кнопке
                  = image_tag 'help/add_photo/publish-button.png'
                  и фотография автоматически загрузится на
                  = link_to 'главную страницу', root_path
                %p
                  %i
                    * Знайте, на правой стороне окна при любом этапе загрузки, отображается ваша фотография с текущей информацией. Она позволит вам еще раз проверить загружаемые данные.
                %p
                  Поздравляем вы загрузили свою первую фотографию!
