.bg-container.homepage-container
  = render 'shared/contests'
  - index_scope = 'pages.index'

  .container.content
    = render 'shared/nav_add_photo'

    .for-banner

    .row.tabs
      %ul.nav.nav-tabs#main-page-birds-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#current"}
            = I18n.t('.tab_new', scope: index_scope)
        %li
          %a{"data-toggle" => "tab", :href => "#commentable"}
            = I18n.t('.tab_comments', scope: index_scope)
        %li
          %a{"data-toggle" => "tab", :href => "#unknown"}
            = I18n.t('.tab_unknown', scope: index_scope)

    .tab-content
      #current.tab-pane.fade.in.active
        .mtop40.home-img-container.current-container
          - @birds.each_slice(4) do |row|
            .row.row-sm= render partial: 'birds/photo', collection: row, as: :bird
        - if @birds && !@birds.last_page?
          .row.acenter#new-show-more
            = link_to "#{I18n.t('.show_more', scope: index_scope)}", show_new_pages_path(new_page: @birds.current_page + 1), class: 'btn btn-success btn-xlg sm-width-max'

      #commentable.tab-pane.fade
        .mtop40.home-img-container.commentable-container
          - @commented_birds.each_slice(4) do |row|
            .row.row-sm= render partial: 'birds/photo', collection: row, as: :bird
        - if @commented_birds && !@commented_birds.last_page?
          .row.acenter#commentable-show-more
            = link_to "#{I18n.t('.show_more', scope: index_scope)}", show_commentable_pages_path(comment_page: @commented_birds.current_page + 1), class: 'btn btn-success btn-xlg sm-width-max'

      #unknown.tab-pane.fade
        .mtop40.home-img-container.unknown-container
          - @unknown_birds.each_slice(4) do |row|
            .row.row-sm= render partial: 'birds/photo', collection: row, as: :bird
        - if @unknown_birds && !@unknown_birds.last_page?
          .row.acenter#unknown-show-more
            = link_to "#{I18n.t('.show_more', scope: index_scope)}", show_unknown_pages_path(unknown_page: @unknown_birds.current_page + 1), class: 'btn btn-success btn-xlg sm-width-max'

  .posters
    .row.container
      .col.col-md-4
        .help-menu-item
          .icon= image_tag "menus/birdwatch.png"
          %p
            = I18n.t('.promo.birdwatcher_1', scope: index_scope)
            = I18n.t('.promo.birdwatcher_2', scope: index_scope)
      .col.col-md-4
        .help-menu-item
          .icon= image_tag "menus/tracks.png"
          %p
            = link_to "#{I18n.t('.promo.science_1', scope: index_scope)}", about_pages_path
            = I18n.t('.promo.science_2', scope: index_scope)
      .col.col-md-4
        .help-menu-item
          .icon= image_tag "menus/photo.png"
          %p
            = I18n.t('.promo.bg_1', scope: index_scope)
            = link_to "#{I18n.t('.promo.bg_2', scope: index_scope)}", big_year_path

  .bottom-links
    .row
      .col.col-md-4
        .links-list
          %p
            = I18n.t('.menu.birds.title', scope: index_scope)
          %ul
            %li= link_to "#{I18n.t('.menu.birds.menu_1', scope: index_scope)}", species_index_path
            %li= link_to "#{I18n.t('.menu.birds.menu_2', scope: index_scope)}", search_search_path
            %li= link_to "#{I18n.t('.menu.birds.menu_3', scope: index_scope)}", birding_rules_pages_path
      .col.col-md-4
        .links-list
          %p
            = I18n.t('.menu.action.title', scope: index_scope)
          %ul
            %li= link_to "#{I18n.t('.menu.action.menu_1', scope: index_scope)}", big_year_path
            %li= link_to "#{I18n.t('.menu.action.menu_2', scope: index_scope)}", root_path(anchor: 'unknown')
            -if current_user.try(:expert?)
              %li= link_to "#{I18n.t('.menu.action.menu_3', scope: index_scope)}", approve_pages_path
            %li= link_to "#{I18n.t('.menu.action.menu_4', scope: index_scope)}", past_contest_path
      .col.col-md-4
        .links-list
          %p
            = I18n.t('.menu.info.title', scope: index_scope)
          %ul
            %li= link_to "#{I18n.t('.menu.info.menu_1', scope: index_scope)}", about_pages_path
            %li= link_to "#{I18n.t('.menu.info.menu_2', scope: index_scope)}", users_path
            %li= link_to "#{I18n.t('.menu.info.menu_3', scope: index_scope)}", help_pages_path
            %li= mail_to 'khalex@bk.ru', "#{I18n.t('.menu.info.menu_4', scope: index_scope)}"
