.bg-container.homepage-container
  = render 'shared/contests'

  .container.content
    = render 'shared/nav_add_photo'

    .for-banner

    .row.tabs
      %ul.nav.nav-tabs
        %li.active
          %a{"data-toggle" => "tab", :href => "#current"} Все новые
        %li
          %a{"data-toggle" => "tab", :href => "#commentable"} Комментируемые
        %li
          %a{"data-toggle" => "tab", :href => "#unknown"} На определение
        %li
          %a{"data-toggle" => "tab", :href => "#big_year_2015"} Итоги Большого Года 2015

    .tab-content
      #current.tab-pane.fade.in.active
        .mtop40.home-img-container.current-container
          - @birds.each_slice(4) do |row|
            .row.row-sm= render partial: 'birds/photo', collection: row, as: :bird
        - if @birds && !@birds.last_page?
          .row.acenter#new-show-more
            = link_to 'Показать еще фотографии', show_new_pages_path(new_page: @birds.current_page + 1), class: 'btn btn-success btn-xlg sm-width-max'

      #commentable.tab-pane.fade
        .mtop40.home-img-container.commentable-container
          - @commented_birds.each_slice(4) do |row|
            .row.row-sm= render partial: 'birds/photo', collection: row, as: :bird
        - if @commented_birds && !@commented_birds.last_page?
          .row.acenter#commentable-show-more
            = link_to 'Показать еще фотографии', show_commentable_pages_path(comment_page: @commented_birds.current_page + 1), class: 'btn btn-success btn-xlg sm-width-max'

      #unknown.tab-pane.fade
        .mtop40.home-img-container.unknown-container
          - @unknown_birds.each_slice(4) do |row|
            .row.row-sm= render partial: 'birds/photo', collection: row, as: :bird
        - if @unknown_birds && !@unknown_birds.last_page?
          .row.acenter#unknown-show-more
            = link_to 'Показать еще фотографии', show_unknown_pages_path(unknown_page: @unknown_birds.current_page + 1), class: 'btn btn-success btn-xlg sm-width-max'

      #big_year_2015.tab-pane.fade
        .mtop40.big-year-container
          %p
            Соревнование по фотобердингу -
            = link_to '«Большой Год»', big_year_pages_path
          %p
            - index = 1
            -@user_list.each do |user|
              - if user.species_count > 0
                .row.city-participant
                  .participant-left-blck
                    %p
                      ="#{index}."
                      %img.img-circle{:align => "right", :src => user.avatar.thumb.url}/
                      -index += 1
                  .participant-right-blck
                    =link_to user.full_name, profile_path(user.id)
                    %p= "Всего видов: #{user.species_count}"

  .posters
    .row.container
      .col.col-md-4
        .help-menu-item
          .icon= image_tag "menus/birdwatch.png"
          %p
            Стань
            = link_to 'бёрдвотчером', birding_rules_pages_path
            и открой для себя мир птиц!
      .col.col-md-4
        .help-menu-item
          .icon= image_tag "menus/tracks.png"
          %p
            = link_to 'Внеси свой вклад', about_pages_path
            в изучение и сохранение птиц Узбекистана!
      .col.col-md-4
        .help-menu-item
          .icon= image_tag "menus/photo.png"
          %p
            Фотографируй и принимай участие в
            = link_to 'Большом годе!', big_year_pages_path

  .bottom-links
    .row
      .col.col-md-4
        .links-list
          %p Птицы
          %ul
            %li= link_to 'Список видов', categories_path
            %li= link_to 'Поиск', search_search_path
            %li= link_to 'Правила наблюдения', birding_rules_pages_path
      .col.col-md-4
        .links-list
          %p Участвуй
          %ul
            %li= link_to 'Большой Год', big_year_pages_path
            %li= link_to 'На определение', unknowns_pages_path
            -if current_user.try(:expert?)
              %li= link_to 'Одобрить', approve_pages_path
            %li= link_to 'Мероприятия', past_contest_path
      .col.col-md-4
        .links-list
          %p Инфо
          %ul
            %li= link_to 'О проекте', about_pages_path
            %li= link_to 'Наши пользователи', users_path
            %li= link_to 'Помощь', help_pages_path
            %li= mail_to 'khalex@bk.ru', 'Написать нам'
