.bg-btm-container
  / Content
  .container.content
    / Content BODY
    .row.login-registration-container.mtop20.content-container
      %h3.acenter.mbtm20 Вход

      .col.col-md-7.col-sm-12.fcenter
        = form_for :user, url: new_user_session_path do |f|
          .reg-form-cntainer.login-form
            = devise_error_messages!
            .row
              .col-md-2.col-sm-2.lbl-container
                %label{:for => "email"} E-mail:
              .col-md-8.col-sm-8.input-container
                = f.text_field :email, autofocus: true, class: 'form-control'
              .col-md-2.col-sm-2.str-container
                %span.req *
            .row
              .col-md-2.col-sm-2.lbl-container
                %label{:for => "pwrd"} Пароль:
              .col-md-8.col-sm-8.input-container
                = f.password_field :password, autocomplete: "off", class: 'form-control'
              .col-md-2.col-sm-2.str-container
                %span.req *
            .row.mbtm20
              .col-md-2.col-sm-2.lbl-container
                \&nbsp;
              .col-md-8.col-sm-8.input-container.acenter
                = f.submit 'Войти', class: 'mtop10 mm-mtop0 w100p btn-lg btn btn-info'
                =link_to 'У меня нет аккаунта', new_user_registration_path

            .row.mtop10.mm-mtop0
              .col-md-2.col-sm-2.lbl-container
                \&nbsp;
              .col-md-8.col-sm-8.input-container
                %a.fb-login{:href => "#"} Вход через Facebook
              .col-md-2.col-sm-2.str-container
                \&nbsp;
