.col-sm-6.col-md-3.home-img-block
  - photo_scope = 'birds.photo'
  .head
    .blck
      =image_tag 'share/bird_logo.png'
    .blck
      - if bird.species.present?
        =link_to bird.species.name, bird_path(bird)
      - else
        = I18n.t('.title', scope: bg_scope)
  .body
    =link_to bird_path(bird), target: '_blank' do
      =image_tag bird.photo.small.url
  .foot
    .blck
      =image_tag bird.user.avatar.thumb.url, class: 'img-circle'
    .blck
      =link_to bird.user.full_name.slice(0, 28), profile_path(bird.user)
      %p=date_format(bird.created_at)
  .comments
    .last
      .comment-part
        - comments_size = bird.comments.size
        - if comments_size.zero?
          = link_to "#{I18n.t('.leave_comment', scope: photo_scope)}", bird_path(bird)
        - else
          = render partial: 'comments/preview', locals: { bird: bird }
    .more
      - if comments_size > 1
        =link_to "#{I18n.t('.more_comments', scope: photo_scope)}: #{bird.comments.count}", bird_path(bird)
      - else
        #{I18n.t('.comments', scope: photo_scope)}: #{comments_size}
