.bg-btm-container
  / Content
  .container.content
    - edit_scope = 'birds.edit'
    / Content TOP  PROGRESS BAR
    .row.top-row
      %h3
        = I18n.t('.title', scope: edit_scope)
      .progrees-bar-container
        / TOP
        .row.progrees-bar-top-icons
          .col.col-md-2.step-done
            .progress-bar-item.progress-top-round.progress-photo-ico
              %i &nbsp;
          .col.col-md-4.step-done
            =link_to edit_date_bird_path(@bird) do
              .progress-bar-item.progress-top-round.progress-calendar-ico
                %i &nbsp;
          .col.col-md-4.step-done
            =link_to edit_map_bird_path(@bird) do
              .progress-bar-item.progress-top-round.progress-tag-ico
                %i &nbsp;
          .col.col-md-2.step-active
            .progress-bar-item.progress-top-round.progress-check-ico
              %i &nbsp;
        / TOP
        / MDL
        .row.progrees-bar-middle-icons
          .col.col-md-2.step-done
            .progress-bar-item.dash
              \&nbsp;
          .col.col-md-4.step-done
            .progress-bar-item.dash
              \&nbsp;
          .col.col-md-4.step-done
            .progress-bar-item.dash
              \&nbsp;
          .col.col-md-2.step-active
            .progress-bar-item.dash
              \&nbsp;
        / MDL
        / BTM
        .row.progrees-bar-bottom-icons
          .col.col-md-2.step-done
            .progress-bar-item.progress-btn-round
              %i
            .progress-bar-item.dash.right-dash.big-dash
              \&nbsp;
          .col.col-md-4.step-done
            .progress-bar-item.dash.left-dash
              \&nbsp;
            =link_to edit_date_bird_path(@bird) do
              .progress-bar-item.progress-btn-round
                %i
            .progress-bar-item.dash.right-dash
              \&nbsp;
          .col.col-md-4.step-done
            .progress-bar-item.dash.left-dash
              \&nbsp;
            =link_to edit_map_bird_path(@bird) do
              .progress-bar-item.progress-btn-round
                %i
            .progress-bar-item.dash.right-dash
              \&nbsp;
          .col.col-md-2.step-active
            .progress-bar-item.dash.left-dash.big-dash
              \&nbsp;
            .progress-bar-item.progress-btn-round
              %i
        / BTM
        / DESCR
        .row.progrees-bar-descr
          .col.col-md-2.step-done
            .descr
              %p
                = I18n.t('.download_photo_1', scope: edit_scope)
                %br
                  = I18n.t('.download_photo_2', scope: edit_scope)
          .col.col-md-4.step-active
            .descr
              =link_to edit_date_bird_path(@bird) do
                %p
                  = I18n.t('.set_date_1', scope: edit_scope)
                  %br
                    = I18n.t('.set_date_2', scope: edit_scope)
          .col.col-md-4
            .descr
              =link_to edit_map_bird_path(@bird) do
                %p
                  = I18n.t('.set_place_1', scope: edit_scope)
                  %br
                    = I18n.t('.set_place_2', scope: edit_scope)
          .col.col-md-2
            .descr
              %p
                = I18n.t('.set_species_1', scope: edit_scope)
                %br
                  = I18n.t('.set_species_2', scope: edit_scope)
    / DESCR
    / Content TOP PROGRESS BAR
    / Content TOP PROGRESS BAR - SMALLER DISPLAY
    .small-progrees-bar-container
      %p.step-done
        %span.progress-bar-item.small-progress-bar-round-num
          %i 1
        %span.small-progress-bar-dash
          %i.progress-bar-item &nbsp;
        %span.progress-bar-item.progress-top-round.progress-photo-ico.small-progress-bar-round-icon
          %i &nbsp;
        %span.small-progress-bar-text #{I18n.t('.download_photo_1', scope: edit_scope)} #{I18n.t('.download_photo_2', scope: edit_scope)}
      %p.step-done
        =link_to edit_date_bird_path(@bird) do
          %span.progress-bar-item.small-progress-bar-round-num
            %i 2
          %span.small-progress-bar-dash
            %i.progress-bar-item &nbsp;
          %span.progress-bar-item.progress-top-round.progress-calendar-ico.small-progress-bar-round-icon
            %i &nbsp;
          %span.small-progress-bar-text #{I18n.t('.set_date_1', scope: edit_scope)} #{I18n.t('.set_date_2', scope: edit_scope)}
      %p.step-done
        =link_to edit_map_bird_path(@bird) do
          %span.progress-bar-item.small-progress-bar-round-num
            %i 3
          %span.small-progress-bar-dash
            %i.progress-bar-item &nbsp;
          %span.progress-bar-item.progress-top-round.progress-tag-ico.small-progress-bar-round-icon
            %i &nbsp;
          %span.small-progress-bar-text #{I18n.t('.set_place_1', scope: edit_scope)} #{I18n.t('.set_place_2', scope: edit_scope)}
      %p.step-active
        %span.progress-bar-item.small-progress-bar-round-num
          %i 4
        %span.small-progress-bar-dash
          %i.progress-bar-item &nbsp;
        %span.progress-bar-item.progress-top-round.progress-check-ico.small-progress-bar-round-icon
          %i &nbsp;
        %span.small-progress-bar-text #{I18n.t('.set_species_1', scope: edit_scope)} #{I18n.t('.set_species_2', scope: edit_scope)}
    / Content TOP PROGRESS BAR - SMALLER DISPLAY

    .row.mtop40.add-photo-container
      .col-md-9.col-sm-12
        .form-container
          .row.mbtm20
            .col-md-9.col-sm-12
              %span
                = I18n.t('.species', scope: edit_scope)
              %span.selected-species
                = I18n.t('.unknown', scope: edit_scope)
            .col-md-3
              =form_tag publish_bird_path, method: :get do
                .hidden{ style: 'display:none'}
                  =text_field_tag 'bird-species-id'
                =submit_tag "#{I18n.t('.publish', scope: edit_scope)}", class: 'fright btn btn-info sm-display-none'
                =submit_tag "#{I18n.t('.publish', scope: edit_scope)}", class: 'mtop3 m-h35 mbtm20 sm-width-max btn btn-info display-sm-only'

          =form_tag '/main_species', method: :post, remote: :true do
            = text_field_tag :text, nil, class: 'form-control w80 sm-width-max', autofocus: true, placeholder: "#{I18n.t('.species_name', scope: edit_scope)}"
            = submit_tag 'Найти', class: 'btn btn-success fright sm-center sm-mtop10 w15 m-mtop20'
            .search-description
              = I18n.t('.howto_find_species', scope: edit_scope)

          .row.search-results.mtop20.m-mbtm20.pleft20

      .col-md-3.acenter.sm-display-none
        =render 'birds/photo_info', bird: @bird
