.bg-btm-container
  .container.content
    / Content TOP  PROGRESS BAR
    .row.top-row
      %h3 Добавить фотографию
      .progrees-bar-container
        / TOP
        .row.progrees-bar-top-icons
          .col.col-md-2.step-active
            .progress-bar-item.progress-top-round.progress-photo-ico
              %i &nbsp;
          .col.col-md-4
            .progress-bar-item.progress-top-round.progress-calendar-ico
              %i &nbsp;
          .col.col-md-4
            .progress-bar-item.progress-top-round.progress-tag-ico
              %i &nbsp;
          .col.col-md-2
            .progress-bar-item.progress-top-round.progress-check-ico
              %i &nbsp;
        / MDL
        .row.progrees-bar-middle-icons
          .col.col-md-2.step-active
            .progress-bar-item.dash
              \&nbsp;
          .col.col-md-4
            .progress-bar-item.dash
              \&nbsp;
          .col.col-md-4
            .progress-bar-item.dash
              \&nbsp;
          .col.col-md-2
            .progress-bar-item.dash
              \&nbsp;
        / MDL
        / BTM
        .row.progrees-bar-bottom-icons
          .col.col-md-2.step-active
            .progress-bar-item.progress-btn-round
              %i
            .progress-bar-item.dash.right-dash.big-dash
              \&nbsp;
          .col.col-md-4
            .progress-bar-item.dash.left-dash
              \&nbsp;
            .progress-bar-item.progress-btn-round
              %i
            .progress-bar-item.dash.right-dash
              \&nbsp;
          .col.col-md-4
            .progress-bar-item.dash.left-dash
              \&nbsp;
            .progress-bar-item.progress-btn-round
              %i
            .progress-bar-item.dash.right-dash
              \&nbsp;
          .col.col-md-2
            .progress-bar-item.dash.left-dash.big-dash
              \&nbsp;
            .progress-bar-item.progress-btn-round
              %i
        / BTM
        / DESCR
        .row.progrees-bar-descr
          .col.col-md-2.step-active
            .descr
              %p
                Загрузите
                %br фотографию
          .col.col-md-4
            .descr
              %p
                Укажите
                %br дату съемки
          .col.col-md-4
            .descr
              %p
                Укажите
                %br место съемки
          .col.col-md-2
            .descr
              %p
                Определите
                %br вид птицы
    / DESCR

    / Content TOP PROGRESS BAR
    / Content TOP PROGRESS BAR - SMALLER DISPLAY
    .small-progrees-bar-container
      %p.step-active
        %span.progress-bar-item.small-progress-bar-round-num
          %i 1
        %span.small-progress-bar-dash
          %i.progress-bar-item &nbsp;
        %span.progress-bar-item.progress-top-round.progress-photo-ico.small-progress-bar-round-icon
          %i &nbsp;
        %span.small-progress-bar-text Загрузите фотографию
      %p
        %span.progress-bar-item.small-progress-bar-round-num
          %i 2
        %span.small-progress-bar-dash
          %i.progress-bar-item &nbsp;
        %span.progress-bar-item.progress-top-round.progress-calendar-ico.small-progress-bar-round-icon
          %i &nbsp;
        %span.small-progress-bar-text Укажите дату съемки
      %p
        %span.progress-bar-item.small-progress-bar-round-num
          %i 3
        %span.small-progress-bar-dash
          %i.progress-bar-item &nbsp;
        %span.progress-bar-item.progress-top-round.progress-tag-ico.small-progress-bar-round-icon
          %i &nbsp;
        %span.small-progress-bar-text Укажите место съемки
      %p
        %span.progress-bar-item.small-progress-bar-round-num
          %i 4
        %span.small-progress-bar-dash
          %i.progress-bar-item &nbsp;
        %span.progress-bar-item.progress-top-round.progress-check-ico.small-progress-bar-round-icon
          %i &nbsp;
        %span.small-progress-bar-text Определите вид птицы
    / Content TOP PROGRESS BAR - SMALLER DISPLAY

    / Content BODY
    .row.mtop40.add-photo-container
      .col-md-9.col-sm-12
        = form_for @bird, url: birds_path(@bird) do |form|
          .form-container
            %input.form-control.w65.m-w85{:disabled => "", :id => "set-bird-photo-path", :type => "text"}
            =link_to 'Обзор...', '#', class: 'mleft20 btn btn-success', id: 'set-bird-photo'
            .hidden{ style: 'display:none'}
              = form.file_field :photo, id: 'bird-photo-field'
              = form.hidden_field :photo_cache
            =form.submit 'Продолжить', class: 'mtop4 fright btn btn-info sm-display-none'
          = form.submit 'Продолжить', class: 'mtop3 m-h35 mbtm20 sm-width-max btn btn-info display-sm-only w'
          = image_tag @bird.photo_url, class: 'img-responsive', id: 'set-bird-photo-preview'
      .col-md-3.sm-display-none
