.bg-btm-container
  .container.content
    / Content BODY
    .row.bird-photo-container.mtop20.content-container
      .row
        .col-sm-12.col.col-md-8
          .row.bird-photo-title
            -if @bird.unknown?
              %h3.mbtm15
                На определение
            -else
              %h3= @bird.species.name_ru
              %p
                %i= @bird.species.name_lat
              %p= @bird.species.name_en
          .row.bird-photo-img
            =image_tag @bird.photo.url, class: 'img-responsive'

        .col.col-md-4.fright.col-sm-12.m-no-float
          .row.bird-photo-social
            %a.social-lnk.fb
              %span
            %a.social-lnk.tw
              %span
            %a.social-lnk.vk
              %span

          .row.bird-photo-map{ :class => ('hide-bird-photo-map' unless @bird.species.show_map) }
            -if @bird.species.show_map
              #map_canvas{:style => "width:100%; height:300px;", :data => {edit: 'false', lat: @bird.latitude, lng: @bird.longitude}}
            -else
              =image_tag 'map/empty_map.jpg'
              .empty_map_description
                Вид имеет охранный статус,
                %br
                карта доступна только экспертам
          .row.bird-photo-descr
            .row.descr-container
              .col.col-md-3.aright
                %p
                  %span.lbl Автор:
                %p
                  %span.lbl Дата:
                %p
                  %span.lbl Место:
              .col.col-md-9
                %p
                  =link_to @bird.user.full_name, profile_path(@bird.user)
                %p= date_format(@bird.timestamp)
                %p= @bird.address_string

          .row.bird-photo-btns
            -unless @bird.unknown?
              =link_to 'Общая информация о виде', species_path(@bird.species), class: 'btn btn-success'
            =link_to 'Все встречи с видом', '#', class: 'btn btn-info'

      .row
        .col.col-md-8.col-sm-12
          .row.bird-photo-comments
            %h4 Комментарии
            .row.comments-container
              - @bird.comments.each do |comment|
                .row.comment-row
                  .col-md-1.image-holder
                    =image_tag comment.user.avatar.thumb.url, class: 'img-circle'
                  .col-md-10.comment-holder
                    %p.row-link
                      =link_to comment.user.full_name, profile_path(comment.user)
                    %p.row-comment= comment.text
                  -if comment.user.id == current_user.id
                    .col-md-1.delete-comment-container
                      =link_to '', '#', class: 'delete-comment-lnk', data: { id: comment.id }

            .row.add-comment-form-container
              .row.add-comment-form
                -if current_user
                  =form_for :comment, url: comments_path, html: { id: 'form-add-comment', data: { bird_id: @bird.id,
                                                                                                  user_name: current_user.try(:full_name),
                                                                                                  user_profile: profile_path(current_user),
                                                                                                  user_avatar: current_user.avatar.thumb.url } } do |form|
                    = form.text_area :text, class: 'form-control w80 sm-width-max comment-text'
                    = form.submit 'Добавить', id: 'add-comment', class: 'btn btn-success fright sm-center sm-mtop10'
                -else
                  %p
                    Только зарегестрированные пользователи могут оставлять комментарии.
                    %br
                      =link_to 'Зарегистрируйтесь', new_user_registration_path
                      или
                      = succeed '.' do
                        =link_to 'войдите', new_user_session_path, class: 'lnk-success'

    = render 'shared/nav_add_photo'
