.bg-btm-container
  .container.content
    / Content BODY
    .row.bird-photo-container.mtop20.content-container
      - birds_scope = 'birds.show'
      .row
        .col-sm-12.col.col-md-8
          .row.bird-photo-title
            -if @bird.unknown?
              %h3.mbtm15
                = I18n.t('.unknown', scope: birds_scope)
            -else
              %h3= @bird.species.name_ru
              %p
                %i= @bird.species.name_lat
              %p= @bird.species.name_en
          .row.bird-photo-img
            =image_tag @bird.photo.url, class: 'img-responsive'
            -if @bird.user.current?(current_user)
              -#=link_to '', '#', class: 'delete_user_bird', data: {id: @bird.id}, title: 'Удалить фотографию'
              =link_to '', edit_species_bird_path(@bird), class: 'edit_user_bird', data: {id: @bird.id}, title: "#{I18n.t('.edit', scope: birds_scope)}"
          .row.bird-publish-date
            #{I18n.t('.created_at', scope: birds_scope)} #{date_format(@bird.created_at)}

        .col.col-md-4.fright.col-sm-12.m-no-float
          .row.bird-photo-social
            %a.social-lnk.fb
              %span
            %a.social-lnk.tw
              %span
            %a.social-lnk.vk
              %span

          .row.bird-photo-map{ :class => ('hide-bird-photo-map' unless @bird.show_map_for(current_user)) }
            -if @bird.show_map_for(current_user)
              #map_canvas{:style => "width:100%; height:300px;", :data => {edit: 'false', lat: @bird.latitude, lng: @bird.longitude}}
            -else
              =image_tag 'map/empty_map.jpg'
              .empty_map_description
                = I18n.t('.protected_species', scope: birds_scope)
                %br
                  = I18n.t('.protected_map', scope: birds_scope)
          .row.bird-photo-descr
            .row.descr-container
              .col.col-md-3.aright
                %p
                  %span.lbl
                    = I18n.t('author', scope: birds_scope)
                %p
                  %span.lbl
                    = I18n.t('date', scope: birds_scope)
                %p
                  %span.lbl
                    = I18n.t('place', scope: birds_scope)
              .col.col-md-9
                %p
                  =link_to @bird.user.full_name, profile_path(@bird.user)
                %p= date_format(@bird.timestamp)
                -if @bird.show_map_for(current_user)
                  %p= @bird.address_string

          .row.bird-photo-btns
            -unless @bird.unknown?
              =link_to "#{I18n.t('species_info', scope: birds_scope)}", species_path(@bird.species), class: 'btn btn-success'
              -if @bird.species.show_map_for(current_user)
                =link_to "#{I18n.t('all_birds', scope: birds_scope)}", map_index_path(species_id: @bird.species.id), class: 'btn btn-info'
            -if @bird.need_approve? && current_user.try(:expert?) && current_user.id != @bird.user_id
              =link_to "#{I18n.t('confirm', scope: birds_scope)}", '#', class: 'btn btn-success confirm-species', data: { id: @bird.id }

      .row
        .col.col-md-8.col-sm-12
          .row.bird-photo-comments
            %h4
              = I18n.t('comments', scope: birds_scope)
            .row.comments-container
              - @bird.comments.each do |comment|
                - next if comment.user.blank?
                .row.comment-row.mbtm15
                  .col-md-1.image-holder
                    =image_tag comment.user.avatar.thumb.url, class: 'img-circle'
                  .col-md-10.comment-holder
                    %p.row-link
                      .row
                        .col-md-9
                          =link_to comment.user.full_name, profile_path(comment.user)
                        .col-md-3.comment-timestamp
                          =datetime_format(comment.created_at)
                    %p.row-comment= comment.text.html_safe
                  -if current_user && (current_user.id == comment.user.id)
                    .col-md-1.delete-comment-container
                      =link_to '', '#', class: 'delete-comment-lnk', data: { id: comment.id }

            .row.add-comment-form-container
              .row.add-comment-form
                -if current_user
                  =form_for :comment, url: comments_path, html: { id: 'form-add-comment', data: { bird_id: @bird.id,
                                                                                                  user_name: current_user.try(:full_name),
                                                                                                  user_profile: profile_path(current_user),
                                                                                                  user_avatar: current_user.avatar.thumb.url } } do |form|
                    = form.text_area :text, class: 'form-control w80 sm-width-max comment-text'
                    = form.submit "#{I18n.t('add_comment', scope: birds_scope)}", id: 'add-comment', class: 'btn btn-success fright sm-center sm-mtop10'
                -else
                  %p
                    = I18n.t('only_users', scope: birds_scope)
                    %br
                      =link_to "#{I18n.t('sign_up', scope: birds_scope)}", new_user_registration_path
                      = I18n.t('or', scope: birds_scope)
                      = succeed '.' do
                        =link_to "#{I18n.t('sign_in', scope: birds_scope)}", new_user_session_path, class: 'lnk-success'
